# Add/uncomment as needed (copied from amplify-js-samples-staging)
#node_modules
.DS_Store
#cypress/videos
#cypress/screenshots
.vscode
#yarn-error.log#yarn-error.log
Photo-Sharing-Sample/PhotoSharingSample.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Photo-Sharing-Sample/PhotoSharingSample.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Photo-Sharing-Sample/PhotoSharingSample.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
