
INFOPLIST_FILE = ToDoTests/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.amazon.amplify.ToDoTests
PRODUCT_NAME = $(TARGET_NAME)

TEST_HOST = $(BUILT_PRODUCTS_DIR)/ToDo.app/ToDo
BUNDLE_LOADER = $(TEST_HOST)

ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
TARGETED_DEVICE_FAMILY = 1,2
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
