
INFOPLIST_FILE = ToDoUITests/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.amazon.amplify.ToDoUITests
PRODUCT_NAME = $(TARGET_NAME)

TEST_TARGET_NAME = ToDo

ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
TARGETED_DEVICE_FAMILY = 1,2
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
